*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: green;
}

.container{
    background-color: lightgreen;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.logo-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

#cvsu-logo{
    width: 40%;
    height: auto;
}

.login-transp-box{
    position: absolute;
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px;
    left: 120vh;
    top: 50%;
    transform: translateY(-50%);
}

.login-transp-box h1{
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

#Student-num,
#password{
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    padding-left: 10%;
    box-sizing: border-box;
}

#log-btn{
    color: white;
    font-weight: bold;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    width: 60%;
    height: 50px;
    border: 1px solid grey;
    cursor: pointer;
    background: linear-gradient(to top, #405d27, #82b74b)
}

#log-btn:hover{
    background: linear-gradient(to top, #618d3b, #a4e65d)
}

.remember-me{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

#remember{
    margin-right: 10px;
}

#remember:hover{
    cursor: pointer;
}

.create-forgot{
    margin-top: 25px;
}

.create-forgot a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.create-forgot a:hover{
    color: green;
}